$dark: #101924;
$darkness: #0b1118;
$light: #eeeff0;
$lightness: #f6f6f6;
$primary: #0079ff;
$secondary: #ff1268;
$gray: #888c92;
$warning: #693b94;
$info: #3babfb;
$alt: #786ff5;
$primaryLight: #0086ff;
:export {
	gray: $gray;
	dark: $dark;
	darkness: $darkness;
	light: $light;
	lightness: $lightness;
	primary: $primary;
	secondary: $secondary;
	warning: $warning;
	info: $info;
	alt: $alt;
	primaryLight: $primaryLight;
}
