@import 'colors';
body {
	font-family: 'Roboto', Arial, sans-serif;
	color: $dark;
	line-height: 1.3;
	font-size: 18px;
}
img {
	max-width: 100%;
}
strong {
	font-weight: bold;
}
h3 {
	font-size: 2rem;
	margin-bottom: 0.85em;
}
h4 {
	margin-bottom: 0.85em;
}
p {
	margin-bottom: 1.85em;
}
label {
	display: block;
	margin-bottom: 0.5rem;
}
input.form-control {
	&[type='text'],
	&[type='email'],
	&[type='tel'],
	&[type='number'],
	&[type='password'] {
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: calc(1.5em + 0.75rem + 2px);
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 4px;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		&:disabled,
		&[readonly] {
			background-color: #e9ecef;
			opacity: 1;
		}
	}
}
textarea.form-control {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	font-family: inherit;
	resize: vertical;
	border-radius: 4px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&:disabled,
	&[readonly] {
		background-color: #e9ecef;
		opacity: 1;
	}
}
select.form-control {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 4px;
	&:disabled,
	&[readonly] {
		background-color: #e9ecef;
		opacity: 1;
	}
}

.form-group {
	margin-bottom: 1rem;
}
.invalid-feedback {
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}

.mini-header {
	color: #3069f4;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 1.85em;
}
